<!DOCTYPE html>
<html>
<head>
	<title>写日志_csdn博客</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/article/csdn_css.css">
	<link rel="stylesheet" type="text/css" href="/static/article/blogArticles_css.css">
	<script type="text/javascript">
		window.onload=function(){
			var sou = document.getElementById('sousuo');
			sou.onfocus=function(){
				sou.style.border="2px solid gray";
			}
		}
	</script>
</head>
<body>
<header>
	<h1>Missing</h1>
	<p>有一种思念，是淡淡的幸福；有一种幸福，是常常的牵挂；有一种牵挂，是远远地欣赏.......</p>
</header>
<nav id="nav">
    <ul>
        <li class="other"><a href="" target="_blank">网站首页</a></li>
        <li class="other"><a href="/article/blogArticles.html" target="_blank">博文</a></li>
        <li class="other"><a href="/article/xiangCe.html" target="_blank">相册</a></li>
        <li class="other"><a href="/user/gerenyemian.html" target="_blank">个人信息</a></li>
    </ul>
</nav>
<div style="clear: both;"></div>
<div style="clear:both"></div>
<div id="art">
<div id="left">
	<div>
		<h3>写日志</h3>
		<input type="button" value="发表" id="button0"/>
	</div>
	<div class="blogArticle2">
	    <form action="article/blogArticles.html" method="post" name="newArticle" id="form1">
	    	<input type="text" name="" id="text1" value="请在这里输入文章标题"/>
	    	<span  style="40px #FFFFFF"><textarea cols="83" rows="16">请在此处键入要添加的文章内容</textarea></span>
	    	<!-- <input type="file" name="" id="imageFile"/> -->
	    </form>
	</div>
    <div id="anbu">
    	<input type="button" value="发表" id="button0"/>
	</div>
</div> 
</body>
</html>