<!DOCTYPE html>
<html>
<head>
	<title>csdn博客</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/article/csdn_css.css">
	<link rel="stylesheet" type="text/css" href="/static/article/blogArticles_css.css">
	<style type="text/css">
      header{
      	width:80%;
      }
	</style>
	<script type="text/javascript">
		window.onload=function(){
			var sou = document.getElementById('sousuo');
			sou.onfocus=function(){
				sou.style.border="2px solid gray";
			}
		}
	</script>
</head>
<body>
<header>
	<h1>Missing</h1>
	<p>有一种思念，是淡淡的幸福；有一种幸福，是常常的牵挂；有一种牵挂，是远远地欣赏.......</p>
</header>
<nav id="nav">
    <ul>
        <li class="other"><a href="/" target="_blank">网站首页</a></li>
        <li class="other"><a href="/article/blogArticles.html" target="_blank">博文</a></li>
        <li class="other"><a href="/user/xiangCe.html" target="_blank">相册</a></li>
        <li class="other"><a href="/user" target="_blank">个人信息</a></li>
    </ul>
</nav>
<div style="clear: both;"></div>
<div style="clear:both"></div>
<div id="art">
<div id="left">
	<div id="buttonW">
		<span><button><a href="article/addArticle.html">写文章</a></button></span>
	</div>
	<div class="blogArticle">
		<h2>文章1标题</h2> 
	    <ul>
	        <p>在此处填充文章1内容</p>
	    </ul>
	</div>
	<nav class="nav2">
		<span>2017-11-22</span>
		<a href="">编辑</a> |
		<a href="">删除</a> |
		<a href="">评论</a>
	</nav> 
	<br/>
	<div class="blogArticle">
		<h2>文章2标题</h2> 
	    <ul>
	        <p>在此处填充文章2内容</p>
	    </ul> 
	</div>
	<nav class="nav2">
		<span>2017-11-20</span>
		<a href="">编辑</a> |
		<a href="">删除</a> |
		<a href="">评论</a>
	</nav>
	<div class="blogArticle">
	    <h2>文章3标题</h2>
	    <ul>
	        <p>在此处填充文章3内容</p>
	    </ul>
	</div>
	<nav class="nav2">
		<span>2017-11-19</span>
		<a href="">编辑</a> |
		<a href="">删除</a> |
		<a href="">评论</a>
	</nav>
	<br/>
</div>
 <div id="right">
	   <div class="wenzhang_search">
	   		<h4 style="margin-right: 0;">文章搜索</h4>
	   		<input type="text" value="" name=""/ id="sousuo">
	   		<span ><button id="sou">搜索</button></span>
	   </div>
	   <div class="wenzhang_search">
	       <h4>文章存档</h4>
	   		<ul>
	   			<li class="wenzhang">
	   				<p>11111111111</p>
	   			</li>
	   			<li class="wenzhang">
	   				<p>11111111111</p>
	   			</li>
	   			<li class="wenzhang">
	   				<p>11111111111</p>
	   			</li>
	   			<li class="wenzhang">
	   				<p>11111111111</p>
	   			</li>
	   			<li class="wenzhang">
	   				<p>11111111111</p>
	   			</li>
	   			<li class="wenzhang">
	   				<p>11111111111</p>
	   			</li>
	   		</ul>
	   </div>
	  <!--  文章排行 -->
	  <div class="wenzhang_search">
	  	<ul>
	  		<h4>文章排行</h4>
	  		<li class="wenzhang">
	  			<p>11111111111</p>
	  		</li>
	  		<li class="wenzhang">
	  			<p>11111111111</p>
	  		</li>
	  		<li class="wenzhang">
	  			<p>11111111111</p>
	  		</li>
	  		<li class="wenzhang">
	  			<p>11111111111</p>
	  		</li>
	  		<li class="wenzhang">
	  			<p>11111111111</p>
	  		</li>
	  	</ul>
	  </div>
  </div>
</div>

</body>
</html>